In [1]:
import pandas as pd

In [2]:
# Path of the file to read
iowa_file_path = 'melb_data.csv'

home_data = pd.read_csv(iowa_file_path)
home_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [3]:
# dropna drops missing values (think of na as "not available")
home_data = home_data.dropna(axis=0)

In [4]:
home_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [5]:
feature_columns = ['Rooms', 'YearBuilt', 'Bedroom2', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = home_data[feature_columns]
y = home_data.Price

In [6]:
X.describe()

,Rooms,YearBuilt,Bedroom2,Bathroom,Landsize,Lattitude,Longtitude
count,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1964.081988,2.902034,1.576340,471.006940,-37.807904,144.990201
std,0.971079,38.105673,0.970055,0.711362,897.449881,0.075850,0.099165
min,1.000000,1196.000000,0.000000,1.000000,0.000000,-38.164920,144.542370
25%,2.000000,1940.000000,2.000000,1.000000,152.000000,-37.855438,144.926198
50%,3.000000,1970.000000,3.000000,1.000000,373.000000,-37.802250,144.995800
75%,4.000000,2000.000000,3.000000,2.000000,628.000000,-37.758200,145.052700
max,8.000000,2018.000000,9.000000,8.000000,37000.000000,-37.457090,145.526350

In [7]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
home_data = DecisionTreeRegressor(random_state=1)

# Fit model
home_data.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [8]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(home_data.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  YearBuilt  Bedroom2  Bathroom  Landsize  Lattitude  Longtitude
1      2     1900.0       2.0       1.0     156.0   -37.8079    144.9934
2      3     1900.0       3.0       2.0     134.0   -37.8093    144.9944
4      4     2014.0       3.0       1.0     120.0   -37.8072    144.9941
6      3     1910.0       4.0       2.0     245.0   -37.8024    144.9993
7      2     1890.0       2.0       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [9]:
# Import the train_test_split function and uncomment
from sklearn.model_selection import train_test_split

# fill in and uncomment
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 1)

In [10]:
train_X.count()

Rooms         4647
YearBuilt     4647
Bedroom2      4647
Bathroom      4647
Landsize      4647
Lattitude     4647
Longtitude    4647
dtype: int64

In [11]:
val_X.count()

Rooms         1549
YearBuilt     1549
Bedroom2      1549
Bathroom      1549
Landsize      1549
Lattitude     1549
Longtitude    1549
dtype: int64

In [12]:
# Specify the model
iowa_model = DecisionTreeRegressor(random_state=1)

# Fit iowa_model with the training data.
iowa_model.fit(train_X, train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [13]:
train_X.head()

      Rooms  YearBuilt  Bedroom2  Bathroom  Landsize  Lattitude  Longtitude
8722      3     1920.0       3.0       1.0     423.0  -37.77917   144.82223
3418      3     2000.0       3.0       2.0       0.0  -37.76940   145.04060
9904      4     2014.0       4.0       2.0     494.0  -37.61424   144.88705
9024      4     1970.0       4.0       3.0     304.0  -37.85430   145.25253
6946      4     2015.0       4.0       2.0     607.0  -37.71600   144.96630

In [14]:
val_X.head()

      Rooms  YearBuilt  Bedroom2  Bathroom  Landsize  Lattitude  Longtitude
6048      3     2011.0       3.0       3.0     221.0  -37.77080    144.8401
9186      4     1980.0       4.0       2.0     528.0  -37.83539    145.0431
3991      3     1998.0       3.0       2.0       0.0  -37.80950    144.9691
5829      3     2006.0       3.0       2.0    1039.0  -37.86380    144.9820
3616      6     1890.0       6.0       6.0    1334.0  -37.80290    145.0267

In [15]:
# print the top few validation predictions
print(iowa_model.predict(train_X.head()))

# print the top few actual prices from validation data
print(iowa_model.predict(val_X.head()))

[ 570000.  650000.  840500.  860000. 1010000.]
[ 502000. 1850000.  660000.  920000. 4250000.]

In [16]:
# here the predictions of the train value
train_predictions = iowa_model.predict(train_X)
print(train_predictions)

[ 570000.  650000.  840500. ...  315000. 1950000.  505000.]

In [17]:
from sklearn.metrics import mean_absolute_error

# here the validation of the train value
val_mae = mean_absolute_error(train_y, train_predictions)
print('$',round(val_mae))

$ 539.0

In [18]:
# here the predictions of the real value
val_predictions = iowa_model.predict(val_X)
print(val_predictions)

[ 502000. 1850000.  660000. ... 3625000.  815000. 1755000.]

In [19]:
# Finally out-sample here the validation
val_mae = mean_absolute_error(val_y, val_predictions)
print('$',round(val_mae))

$ 258740.0

In [20]:
# function to get MAE 
def get_mae(max_leaf_node, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_node, random_state=1)
    model.fit(train_X, train_y)
    predict = model.predict(val_X)
    mae = mean_absolute_error(val_y, predict)
    return mae

In [25]:
# Predict the Max Leaf
dict_max_leaf_nodes = [5, 25, 50, 100, 150, 250, 500, 1000]
dict_max_leaf_nodes = list(range(500, 600, 10))
for leaf in dict_max_leaf_nodes:
    val_mae = get_mae(leaf, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(leaf, val_mae))

Max leaf nodes: 500  		 Mean Absolute Error:  244152
Max leaf nodes: 510  		 Mean Absolute Error:  243638
Max leaf nodes: 520  		 Mean Absolute Error:  243984
Max leaf nodes: 530  		 Mean Absolute Error:  244924
Max leaf nodes: 540  		 Mean Absolute Error:  244949
Max leaf nodes: 550  		 Mean Absolute Error:  244482
Max leaf nodes: 560  		 Mean Absolute Error:  244563
Max leaf nodes: 570  		 Mean Absolute Error:  244938
Max leaf nodes: 580  		 Mean Absolute Error:  244610
Max leaf nodes: 590  		 Mean Absolute Error:  244534

In [42]:
# Build with max_leaf_nodes
dec_model = DecisionTreeRegressor(max_leaf_nodes=510, random_state=1)
dec_model.fit(X, y)
my_predict = dec_model.predict(val_X)
mae_after = mean_absolute_error(val_y, my_predict)
print('$',round(mae_after))

$ 124934.0

In [ ]:
# Build with RandomForests
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(random_state = 1)
rf_model.fit(train_X, train_y)
my_rf_predict = rf_model.predict()